﻿@model KCK_2.ViewModel.AddEditVM


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div style="width:40%; margin-left:auto; margin-right:auto">

        @using (Html.BeginForm())
        {
            <br />
            <div class="b">Edytuj auto</div>
            <br />
            <br />
            @Html.HiddenFor(m => m.IdNotice)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()
            <div>
                @Html.EditorFor(m => m.MakeOfACar, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000", placeholder = "Marka" } })
            </div>
            <br />
            <div>
                @Html.EditorFor(m => m.Model, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000", placeholder = "Model" } })
            </div>
            <br />
            <div>
                @Html.EditorFor(m => m.Prize, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000", placeholder = "Cena" } })
            </div>
            <br />
            <div>
                @Html.DropDownListFor(m => m.IdCarDealer, new SelectList(ViewBag.list, "IDCarDealer", "Name"), "Nazwa Salonu", htmlAttributes: new { @class = "form-control", style = "width:99%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000" })
            </div>
            <br />
            @Html.ValidationMessageFor(m => m.MakeOfACar, "", new { @class = "text-danger" }) <br />
            @Html.ValidationMessageFor(m => m.Model, "", new { @class = "text-danger" }) <br />
            @Html.ValidationMessageFor(m => m.Prize, "", new { @class = "text-danger" }) <br />
            @Html.ValidationMessageFor(m => m.IdCarDealer, "", new { @class = "text-danger" }) <br />
            <br />
            <button type="submit" class="LoginBottom">Edytuj</button>
        }
        <button type="submit" onclick="location.href='@Url.Action("Menu","Home")'" class="BackBottom">Powrót</button>
    </div>
</body>
</html>