﻿
@{
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="center">
        <div class="a">Menu</div>
        <br />
        <br />
        <div>
            <button type="submit" onclick="location.href='@Url.Action("ShowCar","Home")'" class="MenuBottom">Przeglad aut</button>
        </div>
        <br />
        <div>
            <button type="submit" onclick="location.href='@Url.Action("Login","Home")'" class="MenuBottom">Logowanie</button>
        </div>
        <br />
        <div>
            <button type="submit" onclick="location.href='@Url.Action("Register","Home")'" class="MenuBottom">Rejestracja</button>
        </div>
    </div>
</body>
</html>
