﻿@model KCK_2.ViewModel.LoginVM


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="center">
        @using (Html.BeginForm())
         {
            <div class="b">Logowanie</div>
            <p style="color:red">
                @Html.ValidationMessage("CredentialError")
            </p>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000", placeholder = "E-mail" } })
            <br />
            <br />
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { style = "width:89%; padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#333333", placeholder = "Hasło" } })
            <br />
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
            <br />
            <a href="@Url.Action("Register","Home")" class="Registerlink">Nie masz jeszcze konta? Załóż pod tym linkiem!!!</a>
            <br />
            <br />
            <button type="submit" class="LoginBottom">Loguj</button>
         }
            <button type="submit" onclick="location.href='@Url.Action("FirstMenu","Home")'" class="BackBottom">Powrót</button>
    </div>
</body>
</html>