﻿@{
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="center">
        <div class="a">Menu</div>
        <br />
        <br />
        <div>
            <button type="submit" onclick="location.href='@Url.Action("AddCar","Home")'" class="MenuBottom">Dodawanie auta</button>
        </div>
        <br />
        <div>
            <button type="submit" onclick="location.href='@Url.Action("ShowCarLoggin","Home")'" class="MenuBottom">Zarządzanie autami</button>
        </div>
        <br />
        <div>
            <button type="submit" onclick="location.href='@Url.Action("ShowCar","Home")'" class="MenuBottom">Przegląd aut</button>
        </div>
        <br />
        <div>
            <button type="submit" onclick="location.href='@Url.Action("Logout","Home")'" class="MenuBottom">Wyloguj</button>
        </div>
    </div>
</body>
</html>
