﻿@model KCK_2.Models.Account

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="center1">
        @using (Html.BeginForm())
         {
            <div class="b">Rejestracja</div>
            <p style="color:red">
                @Html.ValidationMessage("CredentialError")
            </p>
            <br />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.AntiForgeryToken()

            @Html.EditorFor(m => m.Username, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000", placeholder = "E-mail" } })
            <br />
            <br />
            @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#CC0000;", placeholder = "Hasło" } })
            <br />
            <br />
            @Html.EditorFor(m => m.Firstname, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#333333;", placeholder = "Imie" } })
            <br />
            <br />
            @Html.EditorFor(m => m.Number, new { htmlAttributes = new { @class = "form-control", style = "width:89%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:#333333;", placeholder = "Numer telefonu" } })
            <br />
            <br />
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(m => m.Firstname, "", new { @class = "text-danger" })<br />
            @Html.ValidationMessageFor(m => m.Number, "", new { @class = "text-danger" })<br />
            <br />
            <button type="submit" class="LoginBottom">Rejestruj</button>
         }
        <button type="submit" onclick="location.href='@Url.Action("FirstMenu","Home")'" class="BackBottom">Powrót</button>
    </div>
</body>
</html>