﻿@model KCK_2.ViewModel.ShowListVM


@using KCK_2.ViewModel;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/Style.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <div style="width:50%; margin-left:auto; margin-right:auto">
        <div align="center">
            @using (Html.BeginForm())
             {
                <button type="submit" align="right" class="FindBottom">Wyszukaj</button>@Html.EditorFor(m => m.Text, new { htmlAttributes = new { @class = "form-control", style = "width:49%;  padding: 3% 5%; border: 1px solid #ccc; -moz-border-radius:7px;- webkit - border - radius:7px; border-radius: 7px; color:##333333", placeholder = "Nazwa marki..." } })
             }
        </div>
        <br />
        <br />
        @foreach (var item in Model.LogoutShowVMs)
        {
            if (Model.LoggedUser == item.Username)
            {
            <table id="table12">
                <tr>
                    <td width="45%" align="left">
                        <a class="Registerlink"><font color="#333333" size="6">@item.MakeOfACar @item.Model</font></a>
                    </td>
                    <td width="10%"></td>
                    <td width="45%" align="right">
                        <font color="#CC0000" size="6">@item.Prize PLN</font>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" align="left"><font size="4" color="#333333">@item.Name | @item.Street </font></td>
                    <td rowspan="3" width="10%" align="right"><a href=@Url.Action("EditCar", "Home", new { id = item.Id_notice })><img src="~/edit.png" alt="edit" /></a></td>
                    <td rowspan="3" width="10%" align="right"><a href=@Url.Action("RemoveCar", "Home", new { id = item.Id_notice })><img src="~/delete.png" alt="delete" /></a></td>
                </tr>
            </table>
            <br />
                }
            }
            <button type="submit" align="left" onclick="location.href='@Url.Action("Menu","Home")'" class="BackBottom">Powrót</button>
    </div>
</body>
</html>