﻿body {
    margin: 0;
}

#center {
    width: 20%;
    height: 20%;
    position: absolute;
    left: 50%;
    top: 40%;
    margin-left: -12.5%;
    margin-top: -12.5%;
}

#center1 {
    width: 25%;
    height: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -12.5%;
    margin-top: -20%;
}

div.a {
    font-size: 500%;
    color: #CC0000;
    text-align: center;
}
div.b {
    font-size: 400%;
    color: #CC0000;
    text-align: center;
}

.MenuBottom {
    background-color: #cc0000;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 1px 5px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #ffffff;
    width: 100%;
    height: 50%;
}

.FindBottom {
    background-color: #cc0000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 15px 21px;
    text-decoration: none;
    position: relative;
    right: 2%;
    display: inline;
}

    .FindBottom:hover {
        background-color: #f51818;
    }

    .myButton:active {
        position: relative;
        top: 1px;
    }

.LoginBottom {
    background-color: #cc0000;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 15px 21px;
    text-decoration: none;
    float: right;
    position: relative;
    right: 2%;
    display: inline;
}

    .LoginBottom:hover {
        background-color: #f51818;
    }

.myButton:active {
    position: relative;
    top: 1px;
}

.BackBottom {
    background-color: #333333;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 18px;
    padding: 15px 21px;
    text-decoration: none;
    left: -10%;
}

    .BackBottom:hover {
        background-color: #595859;
    }

.myButton:active {
    position: relative;
    top: 1px;
}

    .MenuBottom:hover {
        background-color: #ff2929;
    }

    .MenuBottom:active {
        position: relative;
        top: 1px;
    }
.right {
    float: right;
    position: relative;
    right: 2%;
    top: -3px;
    display: inline;
    color: #cc0000;
}

.right1 {
    float: right;
    right: 1%;
    top: -5px;
    position: relative;
    display: inline;
}

.right3 {
    float: right;
    position: relative;
    display: inline;
}

.left {
    float: left;
    display: inline;
}

.Registerlink {
    text-align: justify;
    text-decoration: none;
    color: #333333;
}

#table12 {
    width: 100%;
    border-collapse: collapse;
    border-bottom: 1px solid #f51818;
}

#th {
    color: #333333;
    text-align: left;
    font-size: 20px;
    width: 20%;
}

#td {
    color: #CC0000;
    text-align: left;
    font-size: 20px;
}

